/*Especifics stypes for Garden-vegetables Page*/

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans:wght@400;600&family=Quicksand&display=swap');


:root {
    --darkgreen: #5F6C37;
    --lightgreen: #C9D79C;
    --darkgrey: #656565;
    --headergrey: #636363;
    --font1: 'Abril Fatface', cursive;
    --font2: 'Quicksand', sans-serif;
    --font3: 'Noto Sans', sans-serif;
 }
 
 .banner {
    font-family: var(--font1);
    background-color: var(--lightgreen);
    color: var(--headergrey);
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .item-name, .item-price {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-weight: bold;
    font-size: 24px;
}

.item-description {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

.items {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px gray;
    border-radius: 5%;
}

.items-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.more { 
    background-color: #5F6C37;
    margin: 20vh;
    height: 69vh;
    display: flex;
    flex-direction: row;
}

.leftside{
    display: flex;
    flex-direction: column;
    padding: 10vh;
}

.moretext {
    font-family: 'Abril Fatface', cursive;
    color: white;
    font-size: 50px;
}

.blogbutton {
    padding: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.morebutton {
    border-radius: 15px;
    border: 3px solid white;
    padding: 2vh 4vh;
    color: white;
    background-color: #5F6C37;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.morebutton:hover {
    background-color: #C9D79C;
}