/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&display=swap');

/* Basic resets */

* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

body {
    margin: 0;
}


/*Especifics styles for Home Page*/

:root {
    --darkgreen: #5F6C37;
    --lightgreen: #C9D79C;
    --darkgrey: #656565;
    --headergrey: #636363;
    --font1: 'Abril Fatface', cursive;
    --font2: 'Quicksand', sans-serif;
    --font3: 'Noto Sans', sans-serif;
    --font4: 'Old Standard TT', serif;
 }
 

body {
    background-image: url(../assets/blobBanner.svg);
    background-repeat: no-repeat;
    background-position: right top;
    /* background-attachment: fixed; */
}

.border {
    border: solid red 2px;
}

.our-concept{
    display: flex;
    justify-content: space-between;
}

.our-concept-text {
    display: flex;
    flex-direction: column;
    margin-left: 135px;
    margin-top: 200px;
}

.our-concept-text p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16pt;
    color: #363D1E;
}

.our-concept-text p:first-child {
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    color: #636363;
    font-size: 80pt;
    margin-bottom: 20px;
}

.show-now-link {
    background-color: #6C6C6C;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    height: 40px;
    width: 173px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    margin-top: 46px;
}

.icons-square-banners {
    width: 100vw;
    background-color: #DFEABF;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-baner {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    width: 274px;
    height: 274px;
    background-color: white;

    border-radius: 0 20px 0 20px;

    margin-left: 15px;
}

.icon-baner p {
    font-family: 'Old Standard TT', serif;
    font-weight: 700;
    color: black;
    margin-top: 5%;
}

.hover-icon {
    display: none;
}

.icon-baner img {
    /* width: 140px;
    height: 140px; */
    width: 55%;
    height: 55%;
}

.icon-baner:hover{
    background-color: #606060;
}

.icon-baner:hover .hover-icon {
    display: inline;
}

.icon-baner:hover img:first-child {
    display: none;
}

.icon-baner:hover p {
    color: white;
}

/* carousel section */

#carousel-section {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
}

.carousel-container {
 margin: 10vh;
}

/* .blob-flowers {
   
    background-image: url(../assets/blobFLowers.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 1000px;
    flex-direction: column;
   
} */
.text-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-content h2 {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 50pt;
    line-height: 107.9%;
    color: #5F6C37;
    }

.text-content p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 16pt;
    line-height: 180%;
    color: #5F6C37;
    margin-bottom: 10%;
}

.button-explore {
    border: 2px solid #5F6C37;
    border-radius: 8px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 97.9%;
    color: #5F6C37;
    width: 274px;
    height: 40px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.best-sellers-banner {
    display: inline-flex;
    align-items: center;
    flex-direction:row;
    width: 100vw;
    justify-content: space-evenly;
    background: #F1F1F1;
    padding: 100px 0 100px 0;
}

.best-sellers-banner h2 {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 97.9%;
    letter-spacing: 0.01em;
    color: #000000;
}

.best-sellers-banner h3 {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    color: #000000;
}

.best-sellers-banner p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.01em;
    text-transform: lowercase;

    color: #000000;
}

.show-now-best-seller {
    background: #363D1E;
    border-radius: 8px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: white;
    height: 40px;
    width: 173px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 46px;
   
}

.best-sellers-price{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
.button-cart {
    width: 200px;
    height: 40px;
    background: #5F6C37;
    border-radius: 8px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#price1, #price2 {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #000000;
    margin-left: 5%;
}

.decoration-collection {
    display: inline-flex;
    align-items: center;
    flex-direction:row;
    width: 100vw;
    /* margin: 10px 10px 10px 10px;     */
}
.decoration-collection img {
    margin-top: 2px;
}

.decoration-collection-text {
    margin: 10px 0px 10px 50px;
    width: 1150px;
    height: 482px;
    background-color: #5F6C37;
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 1px;
}

.decoration-collection-text h2{
    margin-top: 50px;
    margin-bottom: 150px;
    margin-left: 100px;
}

.decoration-collection-text a {
    margin-left: 100px;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    padding: 10px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 97.9%;
}

/* Blog Section */

.blog-section {
    height: 80vh;
    background-color: #C6D794;
    width: 100%;
    font-family: var(--font2);
}

.blog-title { 
    text-align: center;
    font-family: var(--font4);
    color: var(--darkgreen);
    font-size: 3.5em;
    padding: 5vh;
}

/* Newsletter */

.newsletter {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

input {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #767676;
}

.newsletter h2{
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    color: #5F6C37;
}

.newsletter h3 {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    color: #535353;
}

.newsletter input {
    box-sizing: border-box;
    width: 715px;
    height: 68px;
    background: #FFFFFF;
    border: 1px solid #5C5C5C;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.newsletter button {
    border: 2px solid #646464;
    border-radius: 8px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #CCDB99;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    width: 20%;
    padding: 10px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #767676;
    text-align: center;
    align-items: center;
    justify-content: center;
}