/*Especifics stypes for Garden Page*/

:root {
   --darkgreen: #5F6C37;
   --lightgreen: #C9D79C;
   --darkgrey: #656565;
   --headergrey: #636363;
   --font1: 'Abril Fatface', cursive;
   --font2: 'Quicksand', sans-serif;
}

.banner {
   font-family: var(--font1);
   background-color: var(--lightgreen);
   color: var(--headergrey);
   height: 30vh;
   display: flex;
   align-items: center;
   justify-content: center;
}


.backgroundblob {
   background-image: url(../assets/Shop-Garden/Blob.svg);
   background-repeat: no-repeat;
   margin-top: 15vh;
   height: 130vh;
}

.title {
   font-family: var(--font1);
   color: var(--darkgreen);
}

.contact-button {
   font-family: 'Quicksand', sans-serif;
   font-size:2vh;
   border: 2px solid #5F6C37;
   border-radius: 15px;
   padding: 2vh 3vh;
   color: #5F6C37;
   font-weight: bold;
   margin: 4vh 0;
}

.wrapper {
   width: 50%;
   text-align: end;
}


.items-end {
   width: 91%;
   display: flex;
   align-items: end;
   justify-content: end;
}

img:hover {
   opacity: 0.6;
}

 

 